<%= render 'mattermost_modal' %>
<section>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3 py-3">
          <div class="row g-0">
            <div class="col-md-4 text-center my-auto">
              <h1 class=""><i class="bi bi-github"></i></h1>
              <p><%= current_user.github_id %></p>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h5 class="mb-0">プロフィール</h5>
                </div>
                <hr class="mt-0 mb-4">
                <%= form_with model: @user, url: profile_path do |f| %>
                  <% if @user.errors.any? %>
                    <div class="alert alert-danger mt-2" role="alert">
                      <ul class="mb-0 list-inline">
                        <% @user.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="row pt-1">
                    <div class="mb-3">
                      <%= f.label :nickname, class: "form-label" do %>
                        <%= User.human_attribute_name(:nickname) %>
                        <span class="text-danger">*</span>
                      <% end %>
                      <%= f.text_field :nickname, class: "form-control" %>
                    </div>
                  </div>
                  <div class="row pt-1">
                    <div class="mb-3">
                      <div class="d-flex mb-2 align-items-center">
                        <p class="form-label my-auto"><%= User.human_attribute_name(:mattermost_id) %></p>
                        <span class="text-danger ms-1">*</span>
                        <button type="button" class="btn btn-success btn-sm ms-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                          IDを取得
                        </button>
                      </div>
                      <%= f.text_field :mattermost_id, class: "form-control bg-secondary-subtle", readonly: true %>
                      <div class="form-text text-muted">IDを取得でMattermostのIDを取得してください</div>
                    </div>
                  </div>
                  <%= f.submit nil, class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
