<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to 'Coreview', root_path, class: "navbar-brand h1" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-house-gear h2"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><%= link_to 'レビュー依頼', review_requests_path, class: "dropdown-item" %></li>
            <li><a class="dropdown-item disabled" href="#">マイページ</a></li>
            <li><%= link_to 'プロフィール', profile_path, class: "dropdown-item" %></li>
            <li><%= link_to 'グループ管理', groups_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete }, class: "dropdown-item" %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
