<div class="container w-50 p-2">
  <div>
    <h1>レビュー依頼</h1>
  </div>
  <hr>
  <%= form_with model: @review_request do |f| %>
    <div class="card mt-3 p-3">
      <div class="card-body">
        <div class="form-group mb-3">
          <%= f.label :url do %>
            <%= ReviewRequest.human_attribute_name(:url) %>
            <span class="text-danger">*</span>
          <% end %>
          <%= f.text_field :url, class: "form-control", placeholder: "作成したプルリクエストのURLを入力してください。", required: true %>
        </div>
        <div class="form-group mb-3">
          <%= f.label :message %>
          <%= f.text_area :message, class: "form-control", placeholder: "例: レビューに必要な情報はDMで渡します。" %>
        </div>
        <%= f.submit nil, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
