<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <%= link_to 'Login with GitHub', auth_at_provider_path(:provider => :github) %>
    <% if logged_in? %>
      ログイン中
      <%= link_to 'Logout', logout_path, data: { turbo_method: :delete } %>
    <% else %>
      ログインしていません
    <% end %>
    <%= yield %>
  </body>
</html>
